html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar-header img{
    float: left;
    z-index: 1;
}

.navbar-nav {
    z-index: 1;
}


#room {
    display: block;
    position: absolute;
    z-index: 0;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    margin: 0 auto;
    width: 80%;
    padding-top: 5px;
}

.container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 96%;
    width: 100%;
}

.column {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    float: left;
}

#memo {
    width: 25%;
    border-top: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
}

#doc {
    width: 50%;
    border-top: solid lightgrey 1px;
}

#editor {
    height: inherit;
}


#chat {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    height: 100%;
    border-top: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
}

#chat h2 {
    margin: 0;
}

#chat-content{
    flex-grow: 1;
    overflow-y: scroll;
}

#chat-op {
    display: inline-flex;
    flex-flow: row nowrap;
}


#chat-input{
    flex-grow: 1;
    outline: none;
    overflow: auto;
    resize: none;
    word-break:break-all;
}

.other{
    float:left;
    background-color: lightgray;
}

.me{
    float:right;
    background-color: aqua;
}

.msg_container{
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px 8px 4px ;
}

.msg_buble{
    width:100%;
    margin-top:10px;
    clear: both;
}

.my_msg{
}

.msg{
    font-size: 20px;
    word-break: break-all;
    white-space: pre;
}

.usr_name{
    color: lightgray;
    width:auto;
    display: inline-block;
}

#memo_container{
    overflow-y: scroll;
}

.hidden{
    display: none;
}

.close_button{
    display: none;
}

.user_name_row:hover  .close_button{
    display: inline-block;
}

@media screen and (max-width: 1280px) {
    .container {
        height: 91%;
    }
}