html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav {
    display: block;
    position: relative;
    width: 100%;
    height: 3%;
}

.container {
    position: relative;
    width: 100%;
    height: 97%;
}

.column {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    float: left;
}

#chat {
    width: 25%;
    border-top: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
}

#memo {
    width: 25%;
    border-top: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
}

#doc {
    width: 50%;
    border-top: solid lightgrey 1px;
}

#chat_input_text{
    width:100%;
    height:100px;
    -ms-word-break:;
    word-break:break-all;
}
#chat_body{
    height: 400px;
    overflow: scroll;
}
.other{
    float:left;
    margin-left: 5px;
    margin-top: 10px;
}

.me{
    float:right;
    margin-right: 5px;
    margin-top: 10px;
}

.msg_buble{
    width:100%;
    margin-top:10px;
    clear: both;
}

.my_msg{
    background-color: aqua;
}

.msg{
    word-break: break-all;
    border-radius: 10px;
    padding: 5px 8px 4px ;
    white-space: pre;
}

.other_msg{
    background-color: lightgray;
}

.other_name{
    color: lightgray;
}

#chat_title{
    background-color: rgba(0, 0, 255, 0.64);
}