html,body{
    height: 100%;
}

.container{
    height: 100%;
}

.new-discuss{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-header img{
    float: left;
}

.session-discuss{
    height:auto;
}

.history{
    height:50%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.discuss-history-container{
    width:80%;
}

.discuss-name{
    display: inline-block;
    width:40%;
}

.discuss-launcher{
    display: inline-block;
    width:40%;
}

.discuss-history{
    background-color: rgba(131, 245, 203, 0.68);
}

.discuss-history-header{
    background-color: rgba(0, 0, 167, 0.29);
}

.discuss-name-header{
    display: inline-block;
    width: 40%;
}

.discuss-launcher-header{
    display: inline-block;
    width: 40%;
}
