@(room: String)
<!DOCTYPE html>
<html>
    <head>
        <title>@room</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

        <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
        <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />

        <script src="@routes.Assets.versioned("javascripts/editor.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/chat.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/memo.js")"></script>

        <link href="@routes.Assets.versioned("stylesheets/discuss.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/navbar.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/login-panel.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.versioned("stylesheets/bootstrap-social.css")" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="nav navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="@routes.Assets.versioned("images/brand.png")">
                    <a class="navbar-brand">Let's Discuss</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">所有討論</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="user-name" class="nav-text"></span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-log-out logout" aria-hidden="true"></span>
                        <span class="nav-text logout">登出</span>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div id="chat" class="column">
                <div id="chat-content">
            </div>
                <div id="chat-op">
                    <textarea type="text" id="chat-input" rows="1" cols="20" placeholder="message" autofocus></textarea>
                    <button type="button" id="chat-submit" class="btn">送出</button>
                </div>
            </div>

            <div id="memo" class="column">
                <h2 id="memo-title">重點標註</h2>
                <div id="memo_container" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
            <div id="doc" class="column">
                <div id="editor"></div>
            </div>
        </div>

        <div id="login-panel" class="modal fade in" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h1 class="modal-title">登入</h1>
                    </div>
                    <div class="modal-body">
                        <a href="#" id="login-google" class="btn btn-lg btn-block btn-social btn-google">
                            Google 登入
                        </a>
                        <a href="#" id="login-fb" class="btn btn-lg btn-block btn-social btn-facebook">
                            Facebook 登入
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var roomName = '@room';
        </script>
        <script src="@routes.Assets.versioned("javascripts/discuss.js")"></script>
    </body>
</html>
