<!DOCTYPE html>
<html>
    <head>
        <title>Let's Discuss</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="@routes.Assets.versioned("stylesheets/discuss.css")" rel="stylesheet" type="text/css">
        <script src="@routes.Assets.versioned("javascripts/editor.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/chat.js")"></script>

            <!-- all bootstrap need jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Main Quill library -->
        <script src="https://cdn.quilljs.com/latest/quill.js"></script>
        <script src="https://cdn.quilljs.com/latest/quill.min.js"></script>

            <!-- Theme included stylesheets -->
        <link href="https://cdn.quilljs.com/latest/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/latest/quill.bubble.css" rel="stylesheet">

    </head>
    <body>
        <nav>
            <a href="">首頁</a>
            <a href="">所有討論</a>
            <a href="">帳戶</a>
        </nav>
        <div class="container">
            <div id="chat" class="column">
                <span>chat</span>
                <div class="msg-box">

                </div>
                <div class="msg-input">
                    <textarea id="chat_input_text"></textarea>
                    <button id="chat_submit">送出</button>
                </div>
            </div>
            <div id="memo" class="column">
                <span>memo</span>
            </div>
            <div id="doc" class="column">
                <button id="save_delta">Save delta</button>
                <button id="load_delta">Load delta</button>
                <button id="on_off_btn">開關</button>
                <div id="editor"></div>
            </div>
        </div>
    </body>
</html>
